*.swp
*.swo
*~
.DS_Store
mailchimp_password.txt
.bundle
.sass-cache/

public/stylesheets/all.css
public/stylesheets/all.css.map

public/stylesheets/fontello.css
public/stylesheets/fontello.css.map
node_modules
