# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor folders
.DS_Store
mailchimp_password.txt
.bundle
/config/application.yml
/log/application.log
/.env
/assets/*
/_site

.cache
.project
.settings
.tmproj
nbproject
Thumbs.db

# NPM packages folder.
node_modules/

# Brunch folder for temporary files.
tmp/

# Brunch output folder.
public/

# Bower stuff.
bower_components/
