@mixin btn-base($background, $border, $color) {
  background-color: $background;
  border: $border;
  color: $color;

  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.btn-brand {
  @include btn-base($color-brand, 0, $color-light);
  padding: 0.7rem 2.5rem;

  &:hover {
    background: $color-brand-dark;
  }
}

.btn-ghost {
  @include btn-base(transparent, 1px solid $color-brand, $color-brand);
  padding: 0.5rem 2.5rem;

  &:hover {
    background: $color-brand;
    color: $color-light;
  }
}
