.footer {
  color: $color-light;
  background: $color-brand;
  background-image: url('/assets/images/sparkles.svg');
  background-repeat: no-repeat;
  background-size: 130px;
  background-position-y: center;
}

.footer-icon {
  height: 45px;
  margin-top: $spacing-unit;
  margin-right: .5 * $spacing-unit;
}

.footer-form-input {
  display: block;
  width: 80%;
  border: 1px solid $color-light;
  border-radius: 50px;

  &:active,
  &:focus {
    outline: none;
  }
}

.footer-form-btn {
  background: transparent;
  border: 1px solid $color-light;
  border-radius: 50px;
  color: $color-light;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 80%;

  &:hover,
  &:active {
    background: $color-brand;
    outline: none;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    text-align: center;

    .footer-col-title {
      padding-top: 1rem
    }

    .footer-form-input {
      margin: 0 auto;
    }

    .grid-item {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%;
    }
  }
}

@include rwd('compact') {
  .footer {
    background-image: none;
  }
}
