.navbar-logo {
  width: 150px;
}

@media screen and (min-width: 1600px) {
  .navbar {
    width: 1400px;
    margin: 0 auto;
  }
}

@include rwd("compact") {
  .navbar {
    text-align: center;

    .btn-ghost {
      display: block;
      float: none;
      margin-top: $spacing-unit;
    }
  }
}
