body {
  font-family: "Lato", sans-serif;
  color: $color-dark;
}

h2,
h4 {
  font-weight: 600;
}

h2 {
  font-size: 2.5rem;
}

a {
  color: $color-brand;
}

input[type="email"],
input[type="text"] {
  padding: 0.375em 1em;
}

.link-brand {
  color: $color-brand;
  text-decoration: none;

  &:hover {
    color: $color-brand-dark;
  }
}

.link-light {
  color: $color-light;
  text-decoration: none;

  &:hover {
    color: $color-brand-muted;
  }
}

.color-brand-muted {
  color: $color-brand-muted;
}
