.span12
  %h2 Archiwum

  .meetup
    %h3 TRUG#22 (2014-02-19)
    .span6
      %p
        %a{href: 'http://zoldar.net/react/#1'} React JS
        –
        %a{href: 'https://github.com/zoldar'} Adrian Gruntkowski
    .span6
      %p
        Elastic Search 
        –
        %a{href: 'https://github.com/gotar'} Oskar Szrajer

    %hr

  .meetup
    %h3 TRUG#19 (2013-11-20)
    .span6
      .video{ data: { video_id: "85487366", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/463/444/463444567_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Git like a pro
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    .span6
      .video{ data: { video_id: "85975292", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/463/514/463514579_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        %a{href: 'http://www.advertine.com/'} Advertine
        –
        Sebastian Zontek
    %hr

  .meetup
    %h3 TRUG#18 (2013-10-23)
    .span6
      .video{ data: { video_id: "iDKoYfXHbwE", provider: "youtube" } }
        %img{ src: "http://img.youtube.com/vi/iDKoYfXHbwE/sddefault.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        %a{href: 'https://docs.google.com/presentation/d/1n110NqCARtX2qqASjuK_CtWRAFXPV1_N3jFldllkQRA/edit#slide=id.p'} Jak być partnerem zamiast pracownikiem
        –
        %a{href: 'https://github.com/bragi'} Łukasz Piestrzeniewicz

    %hr

  .meetup
    %h3 TRUG#17 (2013-09-18)

    .span6
      %p
        %a{href: 'http://mkwiatkowski.github.io/angularjs-rails4-trug-presentation'} AngularJS + Rails
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

    .span6
      %p
        %a{href: 'https://gist.github.com/macuk/6619938'} Mail gem problem
        –
        %a{href: 'https://github.com/macuk'} Piotr Macuk

    .span6
      %p
        %a{href: '/archive/20130918/Less-is-More-Piotr-Macuk.pdf'} Less is more
        –
        %a{href: 'https://github.com/macuk'} Piotr Macuk

    .span6
      %p
        %a{href: '/archive/20130918/Grafowe-bazy-danych.pdf'} Grafowe bazy danych
        –
        %a{href: 'https://github.com/zoldar'} Adrian Gruntkowski

    %hr

  .meetup
    %h3 TRUG#16 (2013-08-21)
    %hr

  .meetup
    %h3 TRUG#15 (2013-07-24)

    .span6
      .video{ data: { video_id: "86509377", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/465/279/465279284_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Emacs
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

    .span6
      .video{ data: { video_id: "87281357", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/465/293/465293280_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Vim
        –
        %a{href: 'https://github.com/szw'} Szymon Wrożyński

    %hr

  .meetup
    %h3 TRUG#14 (2013-06-19)

    .span6
      .video{ data: { video_id: "78759335", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/273/454273440_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        The Wrong Way
        –
        %a{href: 'https://github.com/jeznet'} Szymon Jeż
        
    .span6
      .video{ data: { video_id: "80318734", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/457/527/457527903_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Timeout
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

    .span6
      .video{ data: { video_id: "81406179", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/457/570/457570632_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        %a{href: 'https://defii.co/en'} Defii
        –
        Maciej Greń
    %hr

  .meetup
    %h3 TRUG#13 (2013-05-22)

    .span6
      .video{ data: { video_id: "78759336", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/273/454273368_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        %a{href: '/archive/20130522/alternatywa-dla-rvm-gemsets/'} Alternatywa dla RVM gemsets
        –
        %a{href: 'https://github.com/pjg'} Paweł Gościcki

    .span6
      .video{ data: { video_id: "80318733", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/457/528/457528059_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        MongoDB
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    .span6
      .video{ data: { video_id: "80318732", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/457/527/457527978_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Celluloid
        –
        %a{href: 'https://github.com/aokon'} Adam Okoń

    %hr

  .meetup
    %h3 TRUG#11

    .span6
      .video{ data: { video_id: "78581709", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/269/454269753_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Faye
        –
        %a{href: 'https://github.com/aokon'} Adam Okoń

    .span6
      .video{ data: { video_id: "78670603", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/269/454269365_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Shelly Cloud
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

    %hr

  .meetup
    %h3 TRUG#10

    .span6
      .video{ data: { video_id: "78670602", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/269/454269575_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Torquebox 2
        –
        %a{href: 'http://przemyslawwroblewski.blogspot.com/'} Przemysław Wróblewski

    %hr

  .meetup
    %h3 TRUG#9 (2012-05-15)

    .span6
      .video{ data: { video_id: "78579342", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/270/454270056_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Statyczna analiza kodu przy użyciu Rubiniusa
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    .span6
      .video{ data: { video_id: "78579343", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/269/454269943_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        %a{href: '/archive/20120515/wspolbieznosc-w-ruby/'} Współbieżność w Ruby
        –
        %a{href: 'https://github.com/pjg'} Paweł Gościcki

    %hr

  .meetup
    %h3 TRUG#8

    .span6
      .video{ data: { video_id: "78579341", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271088_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Testy naprawdę jednostkowe
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

    %hr

  .meetup
    %h3 TRUG#6

    .span6
      .video{ data: { video_id: "78578277", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/270/454270982_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Goliath
        –
        %a{href: 'https://github.com/gotar'} Oskar Szrajer

    %hr

  .meetup
    %h3 TRUG#5

    .span6
      .video{ data: { video_id: "77541867", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271442_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Deployment
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    .span6
      .video{ data: { video_id: "77541868", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271354_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Odtwarzacz muzyczny w Ruby
        –
        %a{href: 'https://github.com/gotar'} Oskar Szrajer

    .span6
      .video{ data: { video_id: "77541869", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271206_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        RoR i i18n
        –
        %a{href: 'https://github.com/mwojdyr'} Maciej Wojdyr

    %hr

  .meetup
    %h3 TRUG#4

    .span6
      .video{ data: { video_id: "77527002", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271733_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Wyszukiwanie w RoR
        –
        %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski
    %hr

  .meetup
    %h3 TRUG#3

    .span6
      .video{ data: { video_id: "77281779", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/272/454272967_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        JRuby Real Use Case
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    .span6
      .video{ data: { video_id: "77541866", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/271/454271652_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Hobo Cookbook
        –
        Mateusz Leszczyński

    %hr

  .meetup
    %h3 TRUG#2

    .span6
      .video{ data: { video_id: "77281778", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/452/750/452750252_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        CouchDB
        –
        %a{href: 'https://github.com/wbzyl'} Włodzimierz Bzyl

    .span6
      .video{ data: { video_id: "77281780", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/454/272/454272115_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Czym jest agile work flow
        –
        %a{href: 'https://github.com/matthewpl'} Mateusz Marek

    %hr

  .meetup
    %h3 TRUG#1

    .span6
      .video{ data: { video_id: "75640499", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/450/342/450342003_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        Tworzenie aplikacji desktopowych w Ruby i Gtk2
        –
        %a{href: 'https://github.com/gotar'} Oskar Szrajer

    .span6
      .video{ data: { video_id: "75640498", provider: "vimeo" } }
        %img{ src: "http://b.vimeocdn.com/ts/450/342/450342180_640.jpg" }
        .play
          %i.fa.fa-play.fa-2x
      %p
        MongoDB case study
        –
        %a{href: 'https://github.com/seban'} Sebastian Nowak

    %hr

!= js :load_archive
