.span6
  %h2 Archiwum

  %h3 Spotkanie 2013-10-23

  :plain
    <iframe width="560" height="315" src="//www.youtube.com/embed/iDKoYfXHbwE?rel=0" frameborder="0" allowfullscreen></iframe>

  %h3 Spotkanie 2013-09-18

  %ul
    %li
      %a{href: 'http://mkwiatkowski.github.io/angularjs-rails4-trug-presentation'} AngularJS + Rails - Michał Kwiatkowski
    %li
      %a{href: 'https://gist.github.com/macuk/6619938'} Mail gem problem - Piotr Macuk
    %li
      %a{href: '/archive/20130918/Less-is-More-Piotr-Macuk.pdf'} Less is more - Piotr Macuk
    %li
      %a{href: '/archive/20130918/Grafowe-bazy-danych.pdf'} Grafowe bazy danych - Adrian Gruntkowski
