.span6
  %h2 Archiwum

  %h3 Spotkanie 2013-10-23

  :plain
    <iframe width="560" height="315" src="//www.youtube.com/embed/iDKoYfXHbwE?rel=0" frameborder="0" allowfullscreen></iframe>
  %p
    %a{:href=>'https://docs.google.com/presentation/d/1n110NqCARtX2qqASjuK_CtWRAFXPV1_N3jFldllkQRA/edit#slide=id.p'} Slajdy z prezentacją

  %h3 Spotkanie 2013-09-18

  %ul
    %li
      %a{href: 'http://mkwiatkowski.github.io/angularjs-rails4-trug-presentation'} AngularJS + Rails - Michał Kwiatkowski
    %li
      %a{href: 'https://gist.github.com/macuk/6619938'} Mail gem problem - Piotr Macuk
    %li
      %a{href: '/archive/20130918/Less-is-More-Piotr-Macuk.pdf'} Less is more - Piotr Macuk
    %li
      %a{href: '/archive/20130918/Grafowe-bazy-danych.pdf'} Grafowe bazy danych - Adrian Gruntkowski

  %h3 TRUG#14
  :plain
    <iframe src="//player.vimeo.com/video/78759335" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  The Wrong Way

  %h3 TRUG#13
  :plain
    <iframe src="//player.vimeo.com/video/78759336" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Alternatywa dla RVM gemsets

  %h3 TRUG#11
  :plain
    <iframe src="//player.vimeo.com/video/78581709" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Faye

  :plain
    <iframe src="//player.vimeo.com/video/78670603" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Shelly Cloud

  %h3 TRUG#10
  :plain
    <iframe src="//player.vimeo.com/video/78670602" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Torquebox 2

  %h3 TRUG#9
  :plain
    <iframe src="//player.vimeo.com/video/78579342" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Statyczna analiza kodu przy użyciu Rubiniusa

  :plain
    <iframe src="//player.vimeo.com/video/78579343" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Współbieżność w Ruby

  %h3 TRUG#8
  :plain
    <iframe src="//player.vimeo.com/video/78579341" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Testy naprawdę jednostkowe

  %h3 TRUG#6
  :plain
    <iframe src="//player.vimeo.com/video/78578277" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Goliath

  %h3 TRUG#5
  :plain
    <iframe src="//player.vimeo.com/video/77541867" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Deployment

  :plain
    <iframe src="//player.vimeo.com/video/77541868" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Odtwarzacz muzyczny w Rubym

  :plain
    <iframe src="//player.vimeo.com/video/77541869" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  RoR i i18n

  %h3 TRUG#4
  :plain
    <iframe src="//player.vimeo.com/video/77527002" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Wyszukiwanie w RoR

  %h3 TRUG#3
  :plain
    <iframe src="//player.vimeo.com/video/77281779" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  JRuby Real Use Case

  :plain
    <iframe src="//player.vimeo.com/video/77541866" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Hobo Cookbook

  %h3 TRUG#2
  :plain
    <iframe src="//player.vimeo.com/video/77281778" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  CouchDB

  :plain
    <iframe src="//player.vimeo.com/video/77281780" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Czym jest agile work flow

  %h3 TRUG#1
  :plain
    <iframe src="//player.vimeo.com/video/75640499" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  Tworzenie aplikacji desktopowych w Ruby i Gtk2

  :plain
    <iframe src="//player.vimeo.com/video/75640498" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  MongoDB case study
