.span6
  %h2 Archiwum

  %h3 TRUG#19 (2013-11-20)
  :plain
    <iframe src="//player.vimeo.com/video/85487366" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Git like a pro
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak

  :plain
    <iframe src="//player.vimeo.com/video/85975292" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    %a{href: 'http://www.advertine.com/'} Advertine
    –
    Sebastian Zontek

  %h3 TRUG#18 (2013-10-23)

  :plain
    <iframe width="560" height="315" src="//www.youtube.com/embed/iDKoYfXHbwE?rel=0" frameborder="0" allowfullscreen></iframe>
  %p
    %a{href: 'https://docs.google.com/presentation/d/1n110NqCARtX2qqASjuK_CtWRAFXPV1_N3jFldllkQRA/edit#slide=id.p'} Jak być partnerem zamiast pracownikiem
    –
    %a{href: 'https://github.com/bragi'} Łukasz Piestrzeniewicz

  %h3 TRUG#17 (2013-09-18)

  %ul
    %li
      %a{href: 'http://mkwiatkowski.github.io/angularjs-rails4-trug-presentation'} AngularJS + Rails
      –
      %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski
    %li
      %a{href: 'https://gist.github.com/macuk/6619938'} Mail gem problem
      –
      %a{href: 'https://github.com/macuk'} Piotr Macuk
    %li
      %a{href: '/archive/20130918/Less-is-More-Piotr-Macuk.pdf'} Less is more
      –
      %a{href: 'https://github.com/macuk'} Piotr Macuk
    %li
      %a{href: '/archive/20130918/Grafowe-bazy-danych.pdf'} Grafowe bazy danych
      –
      %a{href: 'https://github.com/zoldar'} Adrian Gruntkowski

  %h3 TRUG#16 (2013-08-21)

  %h3 TRUG#15 (2013-07-24)

  %h3 TRUG#14 (2013-06-19)
  :plain
    <iframe src="//player.vimeo.com/video/78759335" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    The Wrong Way
    –
    %a{href: 'https://github.com/jeznet'} Szymon Jeż

  :plain
    <iframe src="//player.vimeo.com/video/80318734" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Timeout
    –
    %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

  :plain
    <iframe src="//player.vimeo.com/video/81406179" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    %a{href: 'https://defii.co/en'} Defii
    –
    Maciej Greń

  %h3 TRUG#13 (2013-05-22)
  :plain
    <iframe src="//player.vimeo.com/video/78759336" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    %a{href: '/archive/20130522/alternatywa-dla-rvm-gemsets/'} Alternatywa dla RVM gemsets
    –
    %a{href: 'https://github.com/pjg'} Paweł Gościcki

  :plain
    <iframe src="//player.vimeo.com/video/80318733" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    MongoDB
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak

  :plain
    <iframe src="//player.vimeo.com/video/80318732" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Celluloid
    –
    %a{href: 'https://github.com/aokon'} Adam Okoń

  %h3 TRUG#11
  :plain
    <iframe src="//player.vimeo.com/video/78581709" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Faye
    –
    %a{href: 'https://github.com/aokon'} Adam Okoń

  :plain
    <iframe src="//player.vimeo.com/video/78670603" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Shelly Cloud
    –
    %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

  %h3 TRUG#10
  :plain
    <iframe src="//player.vimeo.com/video/78670602" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Torquebox 2
    –
    %a{href: 'http://przemyslawwroblewski.blogspot.com/'} Przemysław Wróblewski

  %h3 TRUG#9 (2012-05-15)
  :plain
    <iframe src="//player.vimeo.com/video/78579342" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Statyczna analiza kodu przy użyciu Rubiniusa
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak

  :plain
    <iframe src="//player.vimeo.com/video/78579343" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    %a{href: '/archive/20120515/wspolbieznosc-w-ruby/'} Współbieżność w Ruby
    –
    %a{href: 'https://github.com/pjg'} Paweł Gościcki

  %h3 TRUG#8
  :plain
    <iframe src="//player.vimeo.com/video/78579341" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Testy naprawdę jednostkowe
    –
    %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

  %h3 TRUG#6
  :plain
    <iframe src="//player.vimeo.com/video/78578277" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Goliath
    –
    %a{href: 'https://github.com/gotar'} Oskar Szrajer

  %h3 TRUG#5
  :plain
    <iframe src="//player.vimeo.com/video/77541867" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Deployment
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak

  :plain
    <iframe src="//player.vimeo.com/video/77541868" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Odtwarzacz muzyczny w Ruby
    –
    %a{href: 'https://github.com/gotar'} Oskar Szrajer

  :plain
    <iframe src="//player.vimeo.com/video/77541869" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    RoR i i18n
    –
    %a{href: 'https://github.com/mwojdyr'} Maciej Wojdyr

  %h3 TRUG#4
  :plain
    <iframe src="//player.vimeo.com/video/77527002" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Wyszukiwanie w RoR
    –
    %a{href: 'https://github.com/mkwiatkowski'} Michał Kwiatkowski

  %h3 TRUG#3
  :plain
    <iframe src="//player.vimeo.com/video/77281779" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    JRuby Real Use Case
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak

  :plain
    <iframe src="//player.vimeo.com/video/77541866" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Hobo Cookbook
    –
    Mateusz Leszczyński

  %h3 TRUG#2
  :plain
    <iframe src="//player.vimeo.com/video/77281778" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    CouchDB
    –
    %a{href: 'https://github.com/wbzyl'} Włodzimierz Bzyl

  :plain
    <iframe src="//player.vimeo.com/video/77281780" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Czym jest agile work flow
    –
    %a{href: 'https://github.com/matthewpl'} Mateusz Marek

  %h3 TRUG#1
  :plain
    <iframe src="//player.vimeo.com/video/75640499" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    Tworzenie aplikacji desktopowych w Ruby i Gtk2
    –
    %a{href: 'https://github.com/gotar'} Oskar Szrajer

  :plain
    <iframe src="//player.vimeo.com/video/75640498" width="560" height="315" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
  %p
    MongoDB case study
    –
    %a{href: 'https://github.com/seban'} Sebastian Nowak
