!!!
%html{lang:'pl'}
  %head
    %title TRUG - Trójmiejska Grupa Użytkowników Ruby
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0"}
    %link{ href: "css/bootstrap.min.css", rel: "stylesheet", media: "screen"}
    %link{ href: "css/custom.css", rel: "stylesheet", media: "screen"}
    %link{ href: 'http://fonts.googleapis.com/css?family=Titillium+Web:400,200,700&subset=latin,latin-ext', rel: 'stylesheet', type: 'text/css'}
  %body
    %header.navbar.navbar-inverse.navbar-fixed-top
      %nav
        .container
          %a.brand{href: '/'} TRUG
          %ul.nav.pull-right
            %li
              %a{href: '#'} Login
    .container
      %header
        %h1 TRUG - Trójmiejska Grupa Użytkowników Ruby
      %article
        .row-fluid= yield
    %footer
      .container
        %p.pull-left.muted
          %a{ href: "https://github.com/gotar/TRUG.git"}
            %img{src: 'img/icons/Github.png'}
            Kod źródłowy
          \- zapraszam do udziału w tworzeniu strony.
        %p.pull-right
          %a{href: 'https://groups.google.com/forum/?hl=pl&fromgroups#!forum/trug-pl'}
            %img{src: 'img/icons/groups.png'}
          %a{href: 'https://plus.google.com/u/0/115366219080630998906/posts'}
            %img{src: 'img/icons/Google.png'}
        .clearfix
        %a.pull-left{href: 'http://shellycloud.com'}
          %img{src: 'img/shelly-cloud-banner.png'}

    %script{ src: "http://code.jquery.com/jquery.js"}
    %script{ src: "js/bootstrap.min.js"}
    %script{:type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBB3Xw2XX0X3KGilOXv6Zfug2eC8QSiSF0&sensor=false"}
    %script{ src: "js/map.js"}

