.span6
  %h2 Dane

  %dl.dl-horizontal
    %dt Data
    %dd 2013-05-22 (środa)

    %dt Godzina
    %dd 18:00

    %dt Miejsce
    %dd Sopot, Aleja Niepodległości 807/5

    %dt Agenda
    %dd Czekam na propozycje.

.span6
  %h2 Lokalizacja

  #map-canvas

