.span6
  %h2 Dane

  %dl.dl-horizontal
    %dt Data
    %dd 2015-01-21 (środa)

    %dt Godzina
    %dd 18:00

    %dt Miejsce
    %dd Sopot, Aleja Niepodległości 807/5

    %dt Agenda
    %dd
      Ship your code with Codeship
      %small - Maciej Małecki

  %h2 Archiwum
  %a.btn.btn-inverse{href: '/archive'} Zobacz materiały ze spotkań

  %h2.newsletter Newsletter
  %p Nie chcesz przegapić kolejnego TRUGu? Zapisz się na listę, abyśmy mogli powiadomić Cię o najbliższym spotkaniu*:
  %form.form-inline{action: "http://trug.us7.list-manage1.com/subscribe/post?u=f8d2876ca6b2aa3d9ba96ab2c&amp;id=5e34bce3f9",
    method: "post",
    target: "_blank",
    novalidate:""}
    %input.input{name: "EMAIL", placeholder: "Twój adres e-mail", required: "", type: "email"}
    %button.btn.btn-inverse{name: "subscribe", type: "submit"} Subskrybuj
  %small * Don't worry, it's spam free! Trust us, we are programmers :)

.span6
  %h2 Lokalizacja
  #map-canvas

%script{:type => "text/javascript", :src => "https://maps.googleapis.com/maps/api/js?key=AIzaSyBB3Xw2XX0X3KGilOXv6Zfug2eC8QSiSF0&sensor=false"}
!= js :load_google_map
