.span6
  %h2 Dane

  %dl.dl-horizontal
    %dt Data
    %dd Dane niedostępne

    %dt Miejsce
    %dd Dane niedostępne

    %dt Agenda
    %dd Dane niedostępne

.span6
  %h2 Lokalizacja

  #map-canvas

