.span6
  %h2 Dane

  %dl.dl-horizontal
    %dt Data
    %dd 2013-08-21 (środa)

    %dt Godzina
    %dd 18:00

    %dt Miejsce
    %dd Sopot, Aleja Niepodległości 807/5

    %dt Agenda
    %dd * czekamy na propozycje

  %h2.newsletter Newsletter
  %p Nie chcesz przegapić kolejnego TRUGu? Zapisz się na listę, abyśmy mogli powiadomić Cię o najbliższym spotkaniu*:
  #mc_embed_signup
    %form#mc-embedded-subscribe-form.validate{action: "http://trug.us7.list-manage1.com/subscribe/post?u=f8d2876ca6b2aa3d9ba96ab2c&amp;id=5e34bce3f9",
      method: "post", name: "mc-embedded-subscribe-form", novalidate:"", target:"_blank"}
      %label{for: "mce-EMAIL"}
      %input#mce-EMAIL.email{name: "EMAIL", placeholder: "twój adres e-mail", required: "", type: "email", value: ""}
      %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "Subskrybuj"}
  %small * Don't worry, it's spam free! Trust us, we are programmers :)

.span6
  %h2 Lokalizacja

  #map-canvas

