div class="landing-hero text-center"
  h2 class="landing-lead"
    | Trójmiejska Grupa
    br
    | Użytkowników Ruby
  a href='#' class="btn btn-brand js-btn-schedule"
    | Najbliższe spotkanie
    i class="icon-down-open-big"

div class="container text-center padding-3/1-bottom"
  div class="grid grid-center"
    div class="grid-item 3/5 compact-1/1"
      h2 class="no-margin padding-2/1-top"
        | Spotkania
      p
        | Przeważnie odbywają się w przedostanią środę każdego miesiąca. Zapraszamy wszystkich zainteresowanych językiem programowania Ruby oraz technologiami pokrewnymi. Po prezentacjach rozmawiamy oraz gramy w gry planszowe.

div class="landing-community"

div class="container padding-3/1-vertical"
  div class="grid js-landing-schedule"
    div class="grid-item 1/2 compact-1/1 text-left"
      h2
        | Najbliższe spotkanie
      table class="landing-schedule"
        tr
          td.nowrap
            p class="text-bold no-margin"
              i class="icon-calendar landing-schedule-icon"
              | Data
          td
            | 2018-10-24 (środa)
        tr
          td.nowrap
            p class="text-bold no-margin"
              i class="icon-clock landing-schedule-icon"
              | Godzina
          td
            | 18:00
        tr
          td.nowrap
            p class="text-bold no-margin"
              i class="icon-place landing-schedule-icon"
              | Miejsce
          td
            | Sopot, Aleja Niepodległości 807/5
        tr
          td.nowrap
            p class="text-bold no-margin"
              i class="icon-file landing-schedule-icon"
              | Agenda
          td
            p class="margin-1/2-bottom"
              | Rola badań w procesie projektowania
              span class="block"
                | - Agata Kubiak
            p class="margin-1/2-bottom"
              | Anton Koval
              span class="block"
                | - Jak się żyje programistom na wschód od Polski

    div class="grid-item 1/2 compact-1/1"
      h2 class=""
        | Lokalizacja
      div class="landing-map-canvas"
        a href="https://www.google.pl/maps/place/Aleja+Niepodleg%C5%82o%C5%9Bci+807,+81-701+Sopot/@54.4444688,18.5598195,18z/data=!4m5!3m4!1s0x46fd0a9aa6b2a27f:0x33828d1007143f2e!8m2!3d54.444564!4d18.559621" target="_blank"
          img src="/img/mapa.png"

div class="container padding-3/1-bottom"
  div class="grid"
    div class="grid-item 1/2 compact-1/1"
      h2
        | Poznajmy się!
      p
        |
          Tworzymy społeczność, która nie tylko dzieli się  wiedzą,
          ale jest też otwarta na zawieranie nowych znajomości.
          Spotykamy się  podczas integracji w pubach, kawiarniach, kinie, itp.
          Jeśli chcesz wspólnie z nami tworzyć społeczność TRUG
          dołącz do naszej grupy na Slack -
        a href="https://3cityIT.slack.com/messages/trug/" class="link-brand" 3CityIT
        |. Czekamy na Ciebie!
      a href="https://3cityIT.slack.com/messages/trug/" class="link-brand landing-link"
        | Dołącz do grupy
        i class="icon-right-open-big"

    div class="grid-item 1/2 compact-1/1 landing-bg-rubies"
