.span6
  - if talk[:video_thumb]
    .video{ data: { video_id: talk[:video_id], provider: talk[:video_provider] } }
      %img{ src: talk[:video_thumb] }
      .play
        %i.fa.fa-play.fa-2x
  %p
    = talk_title(talk)
    –
    = talk_speaker(talk)

  %p= talk_source_code(talk)
