.span6
  - if talk[:video_thumb]
    .video{ data: { video_id: talk[:video_id], provider: talk[:video_provider] } }
      %img{ src: talk[:video_thumb] }
      .play
        %i.fa.fa-play.fa-2x
  %p
    - if talk[:slides]
      %a{ href: talk[:slides], target: "_blank" }= talk[:title]
    - else
      = talk[:title]
    –
    - if talk[:home_page]
      %a{ href: talk[:home_page], target: "_blank" }= talk[:fullname]
    - else
      = talk[:fullname]
