@mixin btn-base($background, $border, $color) {
  background-color: $background;
  border: $border;
  color: $color;

  border-radius: 50px;
  padding: .5rem 2.5rem;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
}

.btn-brand {
  @include btn-base($color-brand, 0, $color-light);

  &:hover {
    background: darken($color-brand, 10%);
  }
}

.btn-ghost {
  @include btn-base(transparent, 1px solid $color-brand, $color-brand);

  &:hover {
    background: $color-brand;
    color: $color-light
  }
}
