.landing-hero {
  background-image: url('../img/tricity-panorama.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 85vh;
}

.landing-community {
  background-image: url('../img/bg-community.png');
  height: 265px;
}

.landing-bg-rubies {
  background-image: url('../img/rubies.svg');
  background-repeat: no-repeat;
  background-position-x: right;
}

.landing-link {
  font-size: 1.1rem;
}

.landing-map-canvas {
  width: 500px;
  height: 300px;
}

@include rwd('compact') {
  .landing-hero {
    height: 300px;
  }

  .landing-lead {
    font-size: $font-size-lead;
  }
  .landing-bg-rubies {
    height: 200px;
  }

  .landing-map-canvas {
    width: 280px;
    height: 200px;
  }
}
