.landing-hero {
  background-image: url('/img/tricity-panorama.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 85vh;
}

.landing-community {
  background-image: url('/img/bg-community.png');
  height: 265px;
}

.landing-crossover-hiring-tournament {
  background-image: url('/img/crossover-hiring-tournament.jpg');
  background-size: cover;
  display: block;
  height: 250px;
  width: 100%;
}

.landing-bg-rubies {
  background-image: url('/img/rubies.svg');
  background-repeat: no-repeat;
  background-position-x: center;
  height: 180px;
}

.landing-link {
  font-size: 1.1rem;
}

.landing-map-canvas {
  width: 100%;
  height: 270px;
}

.landing-schedule {
  tr {
    vertical-align: baseline;
  }

  td.nowrap {
    white-space: nowrap;
  }
}

.landing-schedule-icon {
  font-size: 1.5rem;
  color: $color-brand;
  padding-right: 15px;
}

@media only screen and (max-width: 768px) {
  .landing-schedule-icon {
    padding-right: 0;
  }

  .landing-schedule td {
    width: 100px;
  }
}

@media only screen and (min-width: 760px) and (max-width: 768px),
only screen and (min-width: 2400px) {
  .landing-lead {
    padding-top: 10rem;
  }
}

@include rwd('compact') {
  .landing-hero {
    height: 300px;
  }

  .landing-lead {
    font-size: $font-size-lead;
  }
  .landing-bg-rubies {
    height: 200px;
  }
}
