.u-text--center {
  text-align: center;
  margin: auto;
}

.width-full {
  width: 100%;
}

.margin-none {
  margin: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.padding {
  padding: $content-padding;
}

.padding-top {
  padding-top: $content-padding;
}

.padding-bottom {
  padding-bottom: $content-padding;
}

.padding-large-top {
  padding-top: $content-padding-large;
}

.padding-large-bottom {
  padding-bottom: $content-padding-large;
}

.card-data-container {
  display: flex;
  flex-direction: column;
}
