$color-primary: #896864;
$color-light: #ffffff;
$base-spacing-unit: 15px;

$icon-size-big: 180px;
$icon-bg-size: 150px 150px;

$content-padding: 15px;
$box-shadow-dark: 2px 2px 8px rgba(0, 0, 0, 0.5);
