@font-face {
  font-family: "fontello";
  src: url("font/fontello.eot?17594687");
  src: url("font/fontello.eot?17594687#iefix") format("embedded-opentype"), url("font/fontello.woff2?17594687") format("woff2"),
    url("font/fontello.woff?17594687") format("woff"), url("font/fontello.ttf?17594687") format("truetype"),
    url("font/fontello.svg?17594687#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: 0.2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before {
  content: "\e800";
} /* '' */
.icon-file:before {
  content: "\e801";
} /* '' */
.icon-place:before {
  content: "\e802";
} /* '' */
.icon-right-open-big:before {
  content: "\e803";
} /* '' */
.icon-left-open-big:before {
  content: "\e804";
} /* '' */
.icon-down-open-big:before {
  content: "\e805";
} /* '' */
.icon-up-open-big:before {
  content: "\e806";
} /* '' */
.icon-calendar:before {
  content: "\e807";
} /* '' */
