html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

progress {
  vertical-align: baseline; }

template,
[hidden] {
  display: none; }

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent; }

a:active,
a:hover {
  outline-width: 0; }

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted;
  border-bottom: none; }

b,
strong {
  font-weight: inherit; }

b,
strong {
  font-weight: bolder; }

dfn {
  font-style: italic; }

h1 {
  margin: .67em 0;
  font-size: 2em; }

mark {
  color: #000;
  background-color: #ff0; }

small {
  font-size: 80%; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

img {
  border-style: none; }

svg:not(:root) {
  overflow: hidden; }

code,
kbd,
pre,
samp {
  font-family: monospace;
  font-size: 1em; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible; }

button,
input,
optgroup,
select,
textarea {
  margin: 0;
  font: inherit; }

optgroup {
  font-weight: bold; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

fieldset {
  padding: .35em .625em .75em;
  margin: 0 2px;
  border: 1px solid #c0c0c0; }

legend {
  box-sizing: border-box;
  display: table;
  max-width: 100%;
  padding: 0;
  color: inherit;
  white-space: normal; }

textarea {
  overflow: auto; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px; }

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-input-placeholder {
  color: inherit;
  opacity: .54; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit; }

html {
  box-sizing: border-box; }

*, *::before, *::after {
  box-sizing: inherit; }

img {
  box-sizing: content-box; }

.container {
  max-width: 1020px;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  margin: auto; }

.grid {
  display: flex;
  flex: 0 1 auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin-right: -0.75rem;
  margin-left: -0.75rem; }

.grid-item {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }

.grid-left {
  justify-content: flext-start; }

.grid-center {
  justify-content: center; }

.grid-right {
  justify-content: flex-end; }

.grid-top {
  align-items: flex-start; }

.grid-middle {
  align-items: center; }

.grid-bottom {
  align-items: flex-end; }

.grid-reverse {
  flex-direction: row-reverse; }

.grid-stack {
  flex-direction: column; }
  .grid-stack.grid-reverse {
    flex-direction: column-reverse; }
  .grid-stack > .grid-item {
    flex-basis: auto; }

.grid-flat {
  margin-right: 0;
  margin-left: 0; }
  .grid-flat > .grid-item {
    padding-right: 0;
    padding-left: 0; }

.grid-pair > .grid-item {
  text-align: left; }
  .grid-pair > .grid-item + .grid-item {
    text-align: right; }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .compact-grid-reverse {
    flex-direction: row-reverse; }
  .compact-grid-stack {
    flex-direction: column; }
    .compact-grid-stack.compact-grid-reverse {
      flex-direction: column-reverse; }
    .compact-grid-stack > .grid-item {
      flex-basis: auto; } }

@media screen and (min-width: 415px) {
  .regular-grid-reverse {
    flex-direction: row-reverse; }
  .regular-grid-stack {
    flex-direction: column; }
    .regular-grid-stack.regular-grid-reverse {
      flex-direction: column-reverse; }
    .regular-grid-stack > .grid-item {
      flex-basis: auto; } }

[class~="1/1"] {
  flex-basis: 100%;
  width: 100%;
  max-width: 100%; }

[class~="1/2"],
[class~="2/4"],
[class~="3/6"],
[class~="4/8"],
[class~="5/10"],
[class~="6/12"] {
  flex-basis: 50%;
  width: 50%;
  max-width: 50%; }

[class~="1/3"],
[class~="2/6"],
[class~="3/9"],
[class~="4/12"] {
  flex-basis: 33.3333%;
  width: 33.3333%;
  max-width: 33.3333%; }

[class~="2/3"],
[class~="4/6"],
[class~="6/9"],
[class~="8/12"] {
  flex-basis: 66.6666%;
  width: 66.6666%;
  max-width: 66.6666%; }

[class~="1/4"],
[class~="2/8"],
[class~="3/12"] {
  flex-basis: 25%;
  width: 25%;
  max-width: 25%; }

[class~="3/4"],
[class~="6/8"],
[class~="9/12"] {
  flex-basis: 75%;
  width: 75%;
  max-width: 75%; }

[class~="1/5"],
[class~="2/10"] {
  flex-basis: 20%;
  width: 20%;
  max-width: 20%; }

[class~="2/5"],
[class~="4/10"] {
  flex-basis: 40%;
  width: 40%;
  max-width: 40%; }

[class~="3/5"],
[class~="6/10"] {
  flex-basis: 60%;
  width: 60%;
  max-width: 60%; }

[class~="4/5"],
[class~="8/10"] {
  flex-basis: 80%;
  width: 80%;
  max-width: 80%; }

[class~="1/6"],
[class~="2/12"] {
  flex-basis: 16.6666%;
  width: 16.6666%;
  max-width: 16.6666%; }

[class~="5/6"],
[class~="10/12"] {
  flex-basis: 83.3333%;
  width: 83.3333%;
  max-width: 83.3333%; }

[class~="1/8"] {
  flex-basis: 12.5%;
  width: 12.5%;
  max-width: 12.5%; }

[class~="3/8"] {
  flex-basis: 37.5%;
  width: 37.5%;
  max-width: 37.5%; }

[class~="5/8"] {
  flex-basis: 62.5%;
  width: 62.5%;
  max-width: 62.5%; }

[class~="7/8"] {
  flex-basis: 87.5%;
  width: 87.5%;
  max-width: 87.5%; }

[class~="1/9"] {
  flex-basis: 11.1111%;
  width: 11.1111%;
  max-width: 11.1111%; }

[class~="2/9"] {
  flex-basis: 22.2222%;
  width: 22.2222%;
  max-width: 22.2222%; }

[class~="4/9"] {
  flex-basis: 44.4444%;
  width: 44.4444%;
  max-width: 44.4444%; }

[class~="5/9"] {
  flex-basis: 55.5555%;
  width: 55.5555%;
  max-width: 55.5555%; }

[class~="7/9"] {
  flex-basis: 77.7777%;
  width: 77.7777%;
  max-width: 77.7777%; }

[class~="8/9"] {
  flex-basis: 88.8888%;
  width: 88.8888%;
  max-width: 88.8888%; }

[class~="1/10"] {
  flex-basis: 10%;
  width: 10%;
  max-width: 10%; }

[class~="3/10"] {
  flex-basis: 30%;
  width: 30%;
  max-width: 30%; }

[class~="7/10"] {
  flex-basis: 70%;
  width: 70%;
  max-width: 70%; }

[class~="9/10"] {
  flex-basis: 90%;
  width: 90%;
  max-width: 90%; }

[class~="1/12"] {
  flex-basis: 8.3333%;
  width: 8.3333%;
  max-width: 8.3333%; }

[class~="5/12"] {
  flex-basis: 41.6666%;
  width: 41.6666%;
  max-width: 41.6666%; }

[class~="7/12"] {
  flex-basis: 58.3333%;
  width: 58.3333%;
  max-width: 58.3333%; }

[class~="11/12"] {
  flex-basis: 91.6666%;
  width: 91.6666%;
  max-width: 91.6666%; }

@media screen and (min-width: 320px) and (max-width: 414px) {
  [class~="compact-1/1"] {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; }
  [class~="compact-1/2"],
  [class~="compact-2/4"],
  [class~="compact-3/6"],
  [class~="compact-4/8"],
  [class~="compact-5/10"],
  [class~="compact-6/12"] {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  [class~="compact-1/3"],
  [class~="compact-2/6"],
  [class~="compact-3/9"],
  [class~="compact-4/12"] {
    flex-basis: 33.3333%;
    width: 33.3333%;
    max-width: 33.3333%; }
  [class~="compact-2/3"],
  [class~="compact-4/6"],
  [class~="compact-6/9"],
  [class~="compact-8/12"] {
    flex-basis: 66.6666%;
    width: 66.6666%;
    max-width: 66.6666%; }
  [class~="compact-1/4"],
  [class~="compact-2/8"],
  [class~="compact-3/12"] {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  [class~="compact-3/4"],
  [class~="compact-6/8"],
  [class~="compact-9/12"] {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  [class~="compact-1/5"],
  [class~="compact-2/10"] {
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }
  [class~="compact-2/5"],
  [class~="compact-4/10"] {
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }
  [class~="compact-3/5"],
  [class~="compact-6/10"] {
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }
  [class~="compact-4/5"],
  [class~="compact-8/10"] {
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }
  [class~="compact-1/6"],
  [class~="compact-2/12"] {
    flex-basis: 16.6666%;
    width: 16.6666%;
    max-width: 16.6666%; }
  [class~="compact-5/6"],
  [class~="compact-10/12"] {
    flex-basis: 83.3333%;
    width: 83.3333%;
    max-width: 83.3333%; }
  [class~="compact-1/8"] {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }
  [class~="compact-3/8"] {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }
  [class~="compact-5/8"] {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }
  [class~="compact-7/8"] {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }
  [class~="compact-1/9"] {
    flex-basis: 11.1111%;
    width: 11.1111%;
    max-width: 11.1111%; }
  [class~="compact-2/9"] {
    flex-basis: 22.2222%;
    width: 22.2222%;
    max-width: 22.2222%; }
  [class~="compact-4/9"] {
    flex-basis: 44.4444%;
    width: 44.4444%;
    max-width: 44.4444%; }
  [class~="compact-5/9"] {
    flex-basis: 55.5555%;
    width: 55.5555%;
    max-width: 55.5555%; }
  [class~="compact-7/9"] {
    flex-basis: 77.7777%;
    width: 77.7777%;
    max-width: 77.7777%; }
  [class~="compact-8/9"] {
    flex-basis: 88.8888%;
    width: 88.8888%;
    max-width: 88.8888%; }
  [class~="compact-1/10"] {
    flex-basis: 10%;
    width: 10%;
    max-width: 10%; }
  [class~="compact-3/10"] {
    flex-basis: 30%;
    width: 30%;
    max-width: 30%; }
  [class~="compact-7/10"] {
    flex-basis: 70%;
    width: 70%;
    max-width: 70%; }
  [class~="compact-9/10"] {
    flex-basis: 90%;
    width: 90%;
    max-width: 90%; }
  [class~="compact-1/12"] {
    flex-basis: 8.3333%;
    width: 8.3333%;
    max-width: 8.3333%; }
  [class~="compact-5/12"] {
    flex-basis: 41.6666%;
    width: 41.6666%;
    max-width: 41.6666%; }
  [class~="compact-7/12"] {
    flex-basis: 58.3333%;
    width: 58.3333%;
    max-width: 58.3333%; }
  [class~="compact-11/12"] {
    flex-basis: 91.6666%;
    width: 91.6666%;
    max-width: 91.6666%; } }

@media screen and (min-width: 415px) {
  [class~="regular-1/1"] {
    flex-basis: 100%;
    width: 100%;
    max-width: 100%; }
  [class~="regular-1/2"],
  [class~="regular-2/4"],
  [class~="regular-3/6"],
  [class~="regular-4/8"],
  [class~="regular-5/10"],
  [class~="regular-6/12"] {
    flex-basis: 50%;
    width: 50%;
    max-width: 50%; }
  [class~="regular-1/3"],
  [class~="regular-2/6"],
  [class~="regular-3/9"],
  [class~="regular-4/12"] {
    flex-basis: 33.3333%;
    width: 33.3333%;
    max-width: 33.3333%; }
  [class~="regular-2/3"],
  [class~="regular-4/6"],
  [class~="regular-6/9"],
  [class~="regular-8/12"] {
    flex-basis: 66.6666%;
    width: 66.6666%;
    max-width: 66.6666%; }
  [class~="regular-1/4"],
  [class~="regular-2/8"],
  [class~="regular-3/12"] {
    flex-basis: 25%;
    width: 25%;
    max-width: 25%; }
  [class~="regular-3/4"],
  [class~="regular-6/8"],
  [class~="regular-9/12"] {
    flex-basis: 75%;
    width: 75%;
    max-width: 75%; }
  [class~="regular-1/5"],
  [class~="regular-2/10"] {
    flex-basis: 20%;
    width: 20%;
    max-width: 20%; }
  [class~="regular-2/5"],
  [class~="regular-4/10"] {
    flex-basis: 40%;
    width: 40%;
    max-width: 40%; }
  [class~="regular-3/5"],
  [class~="regular-6/10"] {
    flex-basis: 60%;
    width: 60%;
    max-width: 60%; }
  [class~="regular-4/5"],
  [class~="regular-8/10"] {
    flex-basis: 80%;
    width: 80%;
    max-width: 80%; }
  [class~="regular-1/6"],
  [class~="regular-2/12"] {
    flex-basis: 16.6666%;
    width: 16.6666%;
    max-width: 16.6666%; }
  [class~="regular-5/6"],
  [class~="regular-10/12"] {
    flex-basis: 83.3333%;
    width: 83.3333%;
    max-width: 83.3333%; }
  [class~="regular-1/8"] {
    flex-basis: 12.5%;
    width: 12.5%;
    max-width: 12.5%; }
  [class~="regular-3/8"] {
    flex-basis: 37.5%;
    width: 37.5%;
    max-width: 37.5%; }
  [class~="regular-5/8"] {
    flex-basis: 62.5%;
    width: 62.5%;
    max-width: 62.5%; }
  [class~="regular-7/8"] {
    flex-basis: 87.5%;
    width: 87.5%;
    max-width: 87.5%; }
  [class~="regular-1/9"] {
    flex-basis: 11.1111%;
    width: 11.1111%;
    max-width: 11.1111%; }
  [class~="regular-2/9"] {
    flex-basis: 22.2222%;
    width: 22.2222%;
    max-width: 22.2222%; }
  [class~="regular-4/9"] {
    flex-basis: 44.4444%;
    width: 44.4444%;
    max-width: 44.4444%; }
  [class~="regular-5/9"] {
    flex-basis: 55.5555%;
    width: 55.5555%;
    max-width: 55.5555%; }
  [class~="regular-7/9"] {
    flex-basis: 77.7777%;
    width: 77.7777%;
    max-width: 77.7777%; }
  [class~="regular-8/9"] {
    flex-basis: 88.8888%;
    width: 88.8888%;
    max-width: 88.8888%; }
  [class~="regular-1/10"] {
    flex-basis: 10%;
    width: 10%;
    max-width: 10%; }
  [class~="regular-3/10"] {
    flex-basis: 30%;
    width: 30%;
    max-width: 30%; }
  [class~="regular-7/10"] {
    flex-basis: 70%;
    width: 70%;
    max-width: 70%; }
  [class~="regular-9/10"] {
    flex-basis: 90%;
    width: 90%;
    max-width: 90%; }
  [class~="regular-1/12"] {
    flex-basis: 8.3333%;
    width: 8.3333%;
    max-width: 8.3333%; }
  [class~="regular-5/12"] {
    flex-basis: 41.6666%;
    width: 41.6666%;
    max-width: 41.6666%; }
  [class~="regular-7/12"] {
    flex-basis: 58.3333%;
    width: 58.3333%;
    max-width: 58.3333%; }
  [class~="regular-11/12"] {
    flex-basis: 91.6666%;
    width: 91.6666%;
    max-width: 91.6666%; } }

.text-white {
  color: #fff !important; }

.bg-white {
  background-color: #fff !important; }

.text-silver {
  color: #ddd !important; }

.bg-silver {
  background-color: #ddd !important; }

.text-gray {
  color: #aaa !important; }

.bg-gray {
  background-color: #aaa !important; }

.text-black {
  color: #111 !important; }

.bg-black {
  background-color: #111 !important; }

.text-red {
  color: #ff4136 !important; }

.bg-red {
  background-color: #ff4136 !important; }

.text-orange {
  color: #ff851b !important; }

.bg-orange {
  background-color: #ff851b !important; }

.text-yellow {
  color: #ffdc00 !important; }

.bg-yellow {
  background-color: #ffdc00 !important; }

.text-lime {
  color: #01ff70 !important; }

.bg-lime {
  background-color: #01ff70 !important; }

.text-green {
  color: #2ecc40 !important; }

.bg-green {
  background-color: #2ecc40 !important; }

.text-olive {
  color: #3d9970 !important; }

.bg-olive {
  background-color: #3d9970 !important; }

.text-teal {
  color: #39cccc !important; }

.bg-teal {
  background-color: #39cccc !important; }

.text-aqua {
  color: #7fdbff !important; }

.bg-aqua {
  background-color: #7fdbff !important; }

.text-blue {
  color: #0074d9 !important; }

.bg-blue {
  background-color: #0074d9 !important; }

.text-navy {
  color: #001f3f !important; }

.bg-navy {
  background-color: #001f3f !important; }

.text-fuchsia {
  color: #f012be !important; }

.bg-fuchsia {
  background-color: #f012be !important; }

.text-purple {
  color: #b10dc9 !important; }

.bg-purple {
  background-color: #b10dc9 !important; }

.text-maroon {
  color: #85144b !important; }

.bg-maroon {
  background-color: #85144b !important; }

.text-brand {
  color: #0074d9 !important; }

.bg-brand {
  background-color: #0074d9 !important; }

.text-positive {
  color: #2ecc40 !important; }

.bg-positive {
  background-color: #2ecc40 !important; }

.text-cautionary {
  color: #ffdc00 !important; }

.bg-cautionary {
  background-color: #ffdc00 !important; }

.text-negative {
  color: #ff4136 !important; }

.bg-negative {
  background-color: #ff4136 !important; }

.text-informative {
  color: #0074d9 !important; }

.bg-informative {
  background-color: #0074d9 !important; }

.text-muted {
  color: #aaa !important; }

.bg-muted {
  background-color: #aaa !important; }

.margin {
  margin: 1.5rem !important; }

.margin-top {
  margin-top: 1.5rem !important; }

.margin-right {
  margin-right: 1.5rem !important; }

.margin-bottom {
  margin-bottom: 1.5rem !important; }

.margin-left {
  margin-left: 1.5rem !important; }

.margin-horizontal {
  margin-right: 1.5rem !important;
  margin-left: 1.5rem !important; }

.margin-vertical {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important; }

.no-margin {
  margin: 0 !important; }

.no-margin-top {
  margin-top: 0 !important; }

.no-margin-right {
  margin-right: 0 !important; }

.no-margin-bottom {
  margin-bottom: 0 !important; }

.no-margin-left {
  margin-left: 0 !important; }

.no-margin-horizontal {
  margin-right: 0 !important;
  margin-left: 0 !important; }

.no-margin-vertical {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

[class~="margin-1/4"] {
  margin: 0.375rem !important; }

[class~="margin-1/4-top"] {
  margin-top: 0.375rem !important; }

[class~="margin-1/4-right"] {
  margin-right: 0.375rem !important; }

[class~="margin-1/4-bottom"] {
  margin-bottom: 0.375rem !important; }

[class~="margin-1/4-left"] {
  margin-left: 0.375rem !important; }

[class~="margin-1/4-horizontal"] {
  margin-right: 0.375rem !important;
  margin-left: 0.375rem !important; }

[class~="margin-1/4-vertical"] {
  margin-top: 0.375rem !important;
  margin-bottom: 0.375rem !important; }

[class~="margin-1/3"] {
  margin: 0.5rem !important; }

[class~="margin-1/3-top"] {
  margin-top: 0.5rem !important; }

[class~="margin-1/3-right"] {
  margin-right: 0.5rem !important; }

[class~="margin-1/3-bottom"] {
  margin-bottom: 0.5rem !important; }

[class~="margin-1/3-left"] {
  margin-left: 0.5rem !important; }

[class~="margin-1/3-horizontal"] {
  margin-right: 0.5rem !important;
  margin-left: 0.5rem !important; }

[class~="margin-1/3-vertical"] {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important; }

[class~="margin-1/2"] {
  margin: 0.75rem !important; }

[class~="margin-1/2-top"] {
  margin-top: 0.75rem !important; }

[class~="margin-1/2-right"] {
  margin-right: 0.75rem !important; }

[class~="margin-1/2-bottom"] {
  margin-bottom: 0.75rem !important; }

[class~="margin-1/2-left"] {
  margin-left: 0.75rem !important; }

[class~="margin-1/2-horizontal"] {
  margin-right: 0.75rem !important;
  margin-left: 0.75rem !important; }

[class~="margin-1/2-vertical"] {
  margin-top: 0.75rem !important;
  margin-bottom: 0.75rem !important; }

[class~="margin-2/1"] {
  margin: 3rem !important; }

[class~="margin-2/1-top"] {
  margin-top: 3rem !important; }

[class~="margin-2/1-right"] {
  margin-right: 3rem !important; }

[class~="margin-2/1-bottom"] {
  margin-bottom: 3rem !important; }

[class~="margin-2/1-left"] {
  margin-left: 3rem !important; }

[class~="margin-2/1-horizontal"] {
  margin-right: 3rem !important;
  margin-left: 3rem !important; }

[class~="margin-2/1-vertical"] {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important; }

[class~="margin-3/1"] {
  margin: 4.5rem !important; }

[class~="margin-3/1-top"] {
  margin-top: 4.5rem !important; }

[class~="margin-3/1-right"] {
  margin-right: 4.5rem !important; }

[class~="margin-3/1-bottom"] {
  margin-bottom: 4.5rem !important; }

[class~="margin-3/1-left"] {
  margin-left: 4.5rem !important; }

[class~="margin-3/1-horizontal"] {
  margin-right: 4.5rem !important;
  margin-left: 4.5rem !important; }

[class~="margin-3/1-vertical"] {
  margin-top: 4.5rem !important;
  margin-bottom: 4.5rem !important; }

[class~="margin-4/1"] {
  margin: 6rem !important; }

[class~="margin-4/1-top"] {
  margin-top: 6rem !important; }

[class~="margin-4/1-right"] {
  margin-right: 6rem !important; }

[class~="margin-4/1-bottom"] {
  margin-bottom: 6rem !important; }

[class~="margin-4/1-left"] {
  margin-left: 6rem !important; }

[class~="margin-4/1-horizontal"] {
  margin-right: 6rem !important;
  margin-left: 6rem !important; }

[class~="margin-4/1-vertical"] {
  margin-top: 6rem !important;
  margin-bottom: 6rem !important; }

.padding {
  padding: 1.5rem !important; }

.padding-top {
  padding-top: 1.5rem !important; }

.padding-right {
  padding-right: 1.5rem !important; }

.padding-bottom {
  padding-bottom: 1.5rem !important; }

.padding-left {
  padding-left: 1.5rem !important; }

.padding-horizontal {
  padding-right: 1.5rem !important;
  padding-left: 1.5rem !important; }

.padding-vertical {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important; }

.no-padding {
  padding: 0 !important; }

.no-padding-top {
  padding-top: 0 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-bottom {
  padding-bottom: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.no-padding-horizontal {
  padding-right: 0 !important;
  padding-left: 0 !important; }

.no-padding-vertical {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

[class~="padding-1/4"] {
  padding: 0.375rem !important; }

[class~="padding-1/4-top"] {
  padding-top: 0.375rem !important; }

[class~="padding-1/4-right"] {
  padding-right: 0.375rem !important; }

[class~="padding-1/4-bottom"] {
  padding-bottom: 0.375rem !important; }

[class~="padding-1/4-left"] {
  padding-left: 0.375rem !important; }

[class~="padding-1/4-horizontal"] {
  padding-right: 0.375rem !important;
  padding-left: 0.375rem !important; }

[class~="padding-1/4-vertical"] {
  padding-top: 0.375rem !important;
  padding-bottom: 0.375rem !important; }

[class~="padding-1/3"] {
  padding: 0.5rem !important; }

[class~="padding-1/3-top"] {
  padding-top: 0.5rem !important; }

[class~="padding-1/3-right"] {
  padding-right: 0.5rem !important; }

[class~="padding-1/3-bottom"] {
  padding-bottom: 0.5rem !important; }

[class~="padding-1/3-left"] {
  padding-left: 0.5rem !important; }

[class~="padding-1/3-horizontal"] {
  padding-right: 0.5rem !important;
  padding-left: 0.5rem !important; }

[class~="padding-1/3-vertical"] {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important; }

[class~="padding-1/2"] {
  padding: 0.75rem !important; }

[class~="padding-1/2-top"] {
  padding-top: 0.75rem !important; }

[class~="padding-1/2-right"] {
  padding-right: 0.75rem !important; }

[class~="padding-1/2-bottom"] {
  padding-bottom: 0.75rem !important; }

[class~="padding-1/2-left"] {
  padding-left: 0.75rem !important; }

[class~="padding-1/2-horizontal"] {
  padding-right: 0.75rem !important;
  padding-left: 0.75rem !important; }

[class~="padding-1/2-vertical"] {
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important; }

[class~="padding-2/1"] {
  padding: 3rem !important; }

[class~="padding-2/1-top"] {
  padding-top: 3rem !important; }

[class~="padding-2/1-right"] {
  padding-right: 3rem !important; }

[class~="padding-2/1-bottom"] {
  padding-bottom: 3rem !important; }

[class~="padding-2/1-left"] {
  padding-left: 3rem !important; }

[class~="padding-2/1-horizontal"] {
  padding-right: 3rem !important;
  padding-left: 3rem !important; }

[class~="padding-2/1-vertical"] {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important; }

[class~="padding-3/1"] {
  padding: 4.5rem !important; }

[class~="padding-3/1-top"] {
  padding-top: 4.5rem !important; }

[class~="padding-3/1-right"] {
  padding-right: 4.5rem !important; }

[class~="padding-3/1-bottom"] {
  padding-bottom: 4.5rem !important; }

[class~="padding-3/1-left"] {
  padding-left: 4.5rem !important; }

[class~="padding-3/1-horizontal"] {
  padding-right: 4.5rem !important;
  padding-left: 4.5rem !important; }

[class~="padding-3/1-vertical"] {
  padding-top: 4.5rem !important;
  padding-bottom: 4.5rem !important; }

[class~="padding-4/1"] {
  padding: 6rem !important; }

[class~="padding-4/1-top"] {
  padding-top: 6rem !important; }

[class~="padding-4/1-right"] {
  padding-right: 6rem !important; }

[class~="padding-4/1-bottom"] {
  padding-bottom: 6rem !important; }

[class~="padding-4/1-left"] {
  padding-left: 6rem !important; }

[class~="padding-4/1-horizontal"] {
  padding-right: 6rem !important;
  padding-left: 6rem !important; }

[class~="padding-4/1-vertical"] {
  padding-top: 6rem !important;
  padding-bottom: 6rem !important; }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .compact-margin {
    margin: 1.5rem !important; }
  .compact-margin-top {
    margin-top: 1.5rem !important; }
  .compact-margin-right {
    margin-right: 1.5rem !important; }
  .compact-margin-bottom {
    margin-bottom: 1.5rem !important; }
  .compact-margin-left {
    margin-left: 1.5rem !important; }
  .compact-margin-horizontal {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important; }
  .compact-margin-vertical {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }
  .compact-no-margin {
    margin: 0 !important; }
  .compact-no-margin-top {
    margin-top: 0 !important; }
  .compact-no-margin-right {
    margin-right: 0 !important; }
  .compact-no-margin-bottom {
    margin-bottom: 0 !important; }
  .compact-no-margin-left {
    margin-left: 0 !important; }
  .compact-no-margin-horizontal {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .compact-no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  [class~="compact-margin-1/4"] {
    margin: 0.375rem !important; }
  [class~="compact-margin-1/4-top"] {
    margin-top: 0.375rem !important; }
  [class~="compact-margin-1/4-right"] {
    margin-right: 0.375rem !important; }
  [class~="compact-margin-1/4-bottom"] {
    margin-bottom: 0.375rem !important; }
  [class~="compact-margin-1/4-left"] {
    margin-left: 0.375rem !important; }
  [class~="compact-margin-1/4-horizontal"] {
    margin-right: 0.375rem !important;
    margin-left: 0.375rem !important; }
  [class~="compact-margin-1/4-vertical"] {
    margin-top: 0.375rem !important;
    margin-bottom: 0.375rem !important; }
  [class~="compact-margin-1/3"] {
    margin: 0.5rem !important; }
  [class~="compact-margin-1/3-top"] {
    margin-top: 0.5rem !important; }
  [class~="compact-margin-1/3-right"] {
    margin-right: 0.5rem !important; }
  [class~="compact-margin-1/3-bottom"] {
    margin-bottom: 0.5rem !important; }
  [class~="compact-margin-1/3-left"] {
    margin-left: 0.5rem !important; }
  [class~="compact-margin-1/3-horizontal"] {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important; }
  [class~="compact-margin-1/3-vertical"] {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; }
  [class~="compact-margin-1/2"] {
    margin: 0.75rem !important; }
  [class~="compact-margin-1/2-top"] {
    margin-top: 0.75rem !important; }
  [class~="compact-margin-1/2-right"] {
    margin-right: 0.75rem !important; }
  [class~="compact-margin-1/2-bottom"] {
    margin-bottom: 0.75rem !important; }
  [class~="compact-margin-1/2-left"] {
    margin-left: 0.75rem !important; }
  [class~="compact-margin-1/2-horizontal"] {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important; }
  [class~="compact-margin-1/2-vertical"] {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important; }
  [class~="compact-margin-2/1"] {
    margin: 3rem !important; }
  [class~="compact-margin-2/1-top"] {
    margin-top: 3rem !important; }
  [class~="compact-margin-2/1-right"] {
    margin-right: 3rem !important; }
  [class~="compact-margin-2/1-bottom"] {
    margin-bottom: 3rem !important; }
  [class~="compact-margin-2/1-left"] {
    margin-left: 3rem !important; }
  [class~="compact-margin-2/1-horizontal"] {
    margin-right: 3rem !important;
    margin-left: 3rem !important; }
  [class~="compact-margin-2/1-vertical"] {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important; }
  [class~="compact-margin-3/1"] {
    margin: 4.5rem !important; }
  [class~="compact-margin-3/1-top"] {
    margin-top: 4.5rem !important; }
  [class~="compact-margin-3/1-right"] {
    margin-right: 4.5rem !important; }
  [class~="compact-margin-3/1-bottom"] {
    margin-bottom: 4.5rem !important; }
  [class~="compact-margin-3/1-left"] {
    margin-left: 4.5rem !important; }
  [class~="compact-margin-3/1-horizontal"] {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important; }
  [class~="compact-margin-3/1-vertical"] {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important; }
  [class~="compact-margin-4/1"] {
    margin: 6rem !important; }
  [class~="compact-margin-4/1-top"] {
    margin-top: 6rem !important; }
  [class~="compact-margin-4/1-right"] {
    margin-right: 6rem !important; }
  [class~="compact-margin-4/1-bottom"] {
    margin-bottom: 6rem !important; }
  [class~="compact-margin-4/1-left"] {
    margin-left: 6rem !important; }
  [class~="compact-margin-4/1-horizontal"] {
    margin-right: 6rem !important;
    margin-left: 6rem !important; }
  [class~="compact-margin-4/1-vertical"] {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important; }
  .compact-padding {
    padding: 1.5rem !important; }
  .compact-padding-top {
    padding-top: 1.5rem !important; }
  .compact-padding-right {
    padding-right: 1.5rem !important; }
  .compact-padding-bottom {
    padding-bottom: 1.5rem !important; }
  .compact-padding-left {
    padding-left: 1.5rem !important; }
  .compact-padding-horizontal {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  .compact-padding-vertical {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .compact-no-padding {
    padding: 0 !important; }
  .compact-no-padding-top {
    padding-top: 0 !important; }
  .compact-no-padding-right {
    padding-right: 0 !important; }
  .compact-no-padding-bottom {
    padding-bottom: 0 !important; }
  .compact-no-padding-left {
    padding-left: 0 !important; }
  .compact-no-padding-horizontal {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .compact-no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  [class~="compact-padding-1/4"] {
    padding: 0.375rem !important; }
  [class~="compact-padding-1/4-top"] {
    padding-top: 0.375rem !important; }
  [class~="compact-padding-1/4-right"] {
    padding-right: 0.375rem !important; }
  [class~="compact-padding-1/4-bottom"] {
    padding-bottom: 0.375rem !important; }
  [class~="compact-padding-1/4-left"] {
    padding-left: 0.375rem !important; }
  [class~="compact-padding-1/4-horizontal"] {
    padding-right: 0.375rem !important;
    padding-left: 0.375rem !important; }
  [class~="compact-padding-1/4-vertical"] {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important; }
  [class~="compact-padding-1/3"] {
    padding: 0.5rem !important; }
  [class~="compact-padding-1/3-top"] {
    padding-top: 0.5rem !important; }
  [class~="compact-padding-1/3-right"] {
    padding-right: 0.5rem !important; }
  [class~="compact-padding-1/3-bottom"] {
    padding-bottom: 0.5rem !important; }
  [class~="compact-padding-1/3-left"] {
    padding-left: 0.5rem !important; }
  [class~="compact-padding-1/3-horizontal"] {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important; }
  [class~="compact-padding-1/3-vertical"] {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
  [class~="compact-padding-1/2"] {
    padding: 0.75rem !important; }
  [class~="compact-padding-1/2-top"] {
    padding-top: 0.75rem !important; }
  [class~="compact-padding-1/2-right"] {
    padding-right: 0.75rem !important; }
  [class~="compact-padding-1/2-bottom"] {
    padding-bottom: 0.75rem !important; }
  [class~="compact-padding-1/2-left"] {
    padding-left: 0.75rem !important; }
  [class~="compact-padding-1/2-horizontal"] {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important; }
  [class~="compact-padding-1/2-vertical"] {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important; }
  [class~="compact-padding-2/1"] {
    padding: 3rem !important; }
  [class~="compact-padding-2/1-top"] {
    padding-top: 3rem !important; }
  [class~="compact-padding-2/1-right"] {
    padding-right: 3rem !important; }
  [class~="compact-padding-2/1-bottom"] {
    padding-bottom: 3rem !important; }
  [class~="compact-padding-2/1-left"] {
    padding-left: 3rem !important; }
  [class~="compact-padding-2/1-horizontal"] {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
  [class~="compact-padding-2/1-vertical"] {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
  [class~="compact-padding-3/1"] {
    padding: 4.5rem !important; }
  [class~="compact-padding-3/1-top"] {
    padding-top: 4.5rem !important; }
  [class~="compact-padding-3/1-right"] {
    padding-right: 4.5rem !important; }
  [class~="compact-padding-3/1-bottom"] {
    padding-bottom: 4.5rem !important; }
  [class~="compact-padding-3/1-left"] {
    padding-left: 4.5rem !important; }
  [class~="compact-padding-3/1-horizontal"] {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important; }
  [class~="compact-padding-3/1-vertical"] {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important; }
  [class~="compact-padding-4/1"] {
    padding: 6rem !important; }
  [class~="compact-padding-4/1-top"] {
    padding-top: 6rem !important; }
  [class~="compact-padding-4/1-right"] {
    padding-right: 6rem !important; }
  [class~="compact-padding-4/1-bottom"] {
    padding-bottom: 6rem !important; }
  [class~="compact-padding-4/1-left"] {
    padding-left: 6rem !important; }
  [class~="compact-padding-4/1-horizontal"] {
    padding-right: 6rem !important;
    padding-left: 6rem !important; }
  [class~="compact-padding-4/1-vertical"] {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important; } }

@media screen and (min-width: 415px) {
  .regular-margin {
    margin: 1.5rem !important; }
  .regular-margin-top {
    margin-top: 1.5rem !important; }
  .regular-margin-right {
    margin-right: 1.5rem !important; }
  .regular-margin-bottom {
    margin-bottom: 1.5rem !important; }
  .regular-margin-left {
    margin-left: 1.5rem !important; }
  .regular-margin-horizontal {
    margin-right: 1.5rem !important;
    margin-left: 1.5rem !important; }
  .regular-margin-vertical {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important; }
  .regular-no-margin {
    margin: 0 !important; }
  .regular-no-margin-top {
    margin-top: 0 !important; }
  .regular-no-margin-right {
    margin-right: 0 !important; }
  .regular-no-margin-bottom {
    margin-bottom: 0 !important; }
  .regular-no-margin-left {
    margin-left: 0 !important; }
  .regular-no-margin-horizontal {
    margin-right: 0 !important;
    margin-left: 0 !important; }
  .regular-no-margin-vertical {
    margin-top: 0 !important;
    margin-bottom: 0 !important; }
  [class~="regular-margin-1/4"] {
    margin: 0.375rem !important; }
  [class~="regular-margin-1/4-top"] {
    margin-top: 0.375rem !important; }
  [class~="regular-margin-1/4-right"] {
    margin-right: 0.375rem !important; }
  [class~="regular-margin-1/4-bottom"] {
    margin-bottom: 0.375rem !important; }
  [class~="regular-margin-1/4-left"] {
    margin-left: 0.375rem !important; }
  [class~="regular-margin-1/4-horizontal"] {
    margin-right: 0.375rem !important;
    margin-left: 0.375rem !important; }
  [class~="regular-margin-1/4-vertical"] {
    margin-top: 0.375rem !important;
    margin-bottom: 0.375rem !important; }
  [class~="regular-margin-1/3"] {
    margin: 0.5rem !important; }
  [class~="regular-margin-1/3-top"] {
    margin-top: 0.5rem !important; }
  [class~="regular-margin-1/3-right"] {
    margin-right: 0.5rem !important; }
  [class~="regular-margin-1/3-bottom"] {
    margin-bottom: 0.5rem !important; }
  [class~="regular-margin-1/3-left"] {
    margin-left: 0.5rem !important; }
  [class~="regular-margin-1/3-horizontal"] {
    margin-right: 0.5rem !important;
    margin-left: 0.5rem !important; }
  [class~="regular-margin-1/3-vertical"] {
    margin-top: 0.5rem !important;
    margin-bottom: 0.5rem !important; }
  [class~="regular-margin-1/2"] {
    margin: 0.75rem !important; }
  [class~="regular-margin-1/2-top"] {
    margin-top: 0.75rem !important; }
  [class~="regular-margin-1/2-right"] {
    margin-right: 0.75rem !important; }
  [class~="regular-margin-1/2-bottom"] {
    margin-bottom: 0.75rem !important; }
  [class~="regular-margin-1/2-left"] {
    margin-left: 0.75rem !important; }
  [class~="regular-margin-1/2-horizontal"] {
    margin-right: 0.75rem !important;
    margin-left: 0.75rem !important; }
  [class~="regular-margin-1/2-vertical"] {
    margin-top: 0.75rem !important;
    margin-bottom: 0.75rem !important; }
  [class~="regular-margin-2/1"] {
    margin: 3rem !important; }
  [class~="regular-margin-2/1-top"] {
    margin-top: 3rem !important; }
  [class~="regular-margin-2/1-right"] {
    margin-right: 3rem !important; }
  [class~="regular-margin-2/1-bottom"] {
    margin-bottom: 3rem !important; }
  [class~="regular-margin-2/1-left"] {
    margin-left: 3rem !important; }
  [class~="regular-margin-2/1-horizontal"] {
    margin-right: 3rem !important;
    margin-left: 3rem !important; }
  [class~="regular-margin-2/1-vertical"] {
    margin-top: 3rem !important;
    margin-bottom: 3rem !important; }
  [class~="regular-margin-3/1"] {
    margin: 4.5rem !important; }
  [class~="regular-margin-3/1-top"] {
    margin-top: 4.5rem !important; }
  [class~="regular-margin-3/1-right"] {
    margin-right: 4.5rem !important; }
  [class~="regular-margin-3/1-bottom"] {
    margin-bottom: 4.5rem !important; }
  [class~="regular-margin-3/1-left"] {
    margin-left: 4.5rem !important; }
  [class~="regular-margin-3/1-horizontal"] {
    margin-right: 4.5rem !important;
    margin-left: 4.5rem !important; }
  [class~="regular-margin-3/1-vertical"] {
    margin-top: 4.5rem !important;
    margin-bottom: 4.5rem !important; }
  [class~="regular-margin-4/1"] {
    margin: 6rem !important; }
  [class~="regular-margin-4/1-top"] {
    margin-top: 6rem !important; }
  [class~="regular-margin-4/1-right"] {
    margin-right: 6rem !important; }
  [class~="regular-margin-4/1-bottom"] {
    margin-bottom: 6rem !important; }
  [class~="regular-margin-4/1-left"] {
    margin-left: 6rem !important; }
  [class~="regular-margin-4/1-horizontal"] {
    margin-right: 6rem !important;
    margin-left: 6rem !important; }
  [class~="regular-margin-4/1-vertical"] {
    margin-top: 6rem !important;
    margin-bottom: 6rem !important; }
  .regular-padding {
    padding: 1.5rem !important; }
  .regular-padding-top {
    padding-top: 1.5rem !important; }
  .regular-padding-right {
    padding-right: 1.5rem !important; }
  .regular-padding-bottom {
    padding-bottom: 1.5rem !important; }
  .regular-padding-left {
    padding-left: 1.5rem !important; }
  .regular-padding-horizontal {
    padding-right: 1.5rem !important;
    padding-left: 1.5rem !important; }
  .regular-padding-vertical {
    padding-top: 1.5rem !important;
    padding-bottom: 1.5rem !important; }
  .regular-no-padding {
    padding: 0 !important; }
  .regular-no-padding-top {
    padding-top: 0 !important; }
  .regular-no-padding-right {
    padding-right: 0 !important; }
  .regular-no-padding-bottom {
    padding-bottom: 0 !important; }
  .regular-no-padding-left {
    padding-left: 0 !important; }
  .regular-no-padding-horizontal {
    padding-right: 0 !important;
    padding-left: 0 !important; }
  .regular-no-padding-vertical {
    padding-top: 0 !important;
    padding-bottom: 0 !important; }
  [class~="regular-padding-1/4"] {
    padding: 0.375rem !important; }
  [class~="regular-padding-1/4-top"] {
    padding-top: 0.375rem !important; }
  [class~="regular-padding-1/4-right"] {
    padding-right: 0.375rem !important; }
  [class~="regular-padding-1/4-bottom"] {
    padding-bottom: 0.375rem !important; }
  [class~="regular-padding-1/4-left"] {
    padding-left: 0.375rem !important; }
  [class~="regular-padding-1/4-horizontal"] {
    padding-right: 0.375rem !important;
    padding-left: 0.375rem !important; }
  [class~="regular-padding-1/4-vertical"] {
    padding-top: 0.375rem !important;
    padding-bottom: 0.375rem !important; }
  [class~="regular-padding-1/3"] {
    padding: 0.5rem !important; }
  [class~="regular-padding-1/3-top"] {
    padding-top: 0.5rem !important; }
  [class~="regular-padding-1/3-right"] {
    padding-right: 0.5rem !important; }
  [class~="regular-padding-1/3-bottom"] {
    padding-bottom: 0.5rem !important; }
  [class~="regular-padding-1/3-left"] {
    padding-left: 0.5rem !important; }
  [class~="regular-padding-1/3-horizontal"] {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important; }
  [class~="regular-padding-1/3-vertical"] {
    padding-top: 0.5rem !important;
    padding-bottom: 0.5rem !important; }
  [class~="regular-padding-1/2"] {
    padding: 0.75rem !important; }
  [class~="regular-padding-1/2-top"] {
    padding-top: 0.75rem !important; }
  [class~="regular-padding-1/2-right"] {
    padding-right: 0.75rem !important; }
  [class~="regular-padding-1/2-bottom"] {
    padding-bottom: 0.75rem !important; }
  [class~="regular-padding-1/2-left"] {
    padding-left: 0.75rem !important; }
  [class~="regular-padding-1/2-horizontal"] {
    padding-right: 0.75rem !important;
    padding-left: 0.75rem !important; }
  [class~="regular-padding-1/2-vertical"] {
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important; }
  [class~="regular-padding-2/1"] {
    padding: 3rem !important; }
  [class~="regular-padding-2/1-top"] {
    padding-top: 3rem !important; }
  [class~="regular-padding-2/1-right"] {
    padding-right: 3rem !important; }
  [class~="regular-padding-2/1-bottom"] {
    padding-bottom: 3rem !important; }
  [class~="regular-padding-2/1-left"] {
    padding-left: 3rem !important; }
  [class~="regular-padding-2/1-horizontal"] {
    padding-right: 3rem !important;
    padding-left: 3rem !important; }
  [class~="regular-padding-2/1-vertical"] {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important; }
  [class~="regular-padding-3/1"] {
    padding: 4.5rem !important; }
  [class~="regular-padding-3/1-top"] {
    padding-top: 4.5rem !important; }
  [class~="regular-padding-3/1-right"] {
    padding-right: 4.5rem !important; }
  [class~="regular-padding-3/1-bottom"] {
    padding-bottom: 4.5rem !important; }
  [class~="regular-padding-3/1-left"] {
    padding-left: 4.5rem !important; }
  [class~="regular-padding-3/1-horizontal"] {
    padding-right: 4.5rem !important;
    padding-left: 4.5rem !important; }
  [class~="regular-padding-3/1-vertical"] {
    padding-top: 4.5rem !important;
    padding-bottom: 4.5rem !important; }
  [class~="regular-padding-4/1"] {
    padding: 6rem !important; }
  [class~="regular-padding-4/1-top"] {
    padding-top: 6rem !important; }
  [class~="regular-padding-4/1-right"] {
    padding-right: 6rem !important; }
  [class~="regular-padding-4/1-bottom"] {
    padding-bottom: 6rem !important; }
  [class~="regular-padding-4/1-left"] {
    padding-left: 6rem !important; }
  [class~="regular-padding-4/1-horizontal"] {
    padding-right: 6rem !important;
    padding-left: 6rem !important; }
  [class~="regular-padding-4/1-vertical"] {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important; } }

.hidden {
  display: none !important; }

.visible,
.block {
  display: block !important; }

.inline-block {
  display: inline-block !important; }

.inline {
  display: inline !important; }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .compact-hidden {
    display: none !important; }
  .compact-visible,
  .compact-block {
    display: block !important; }
  .compact-inline-block {
    display: inline-block !important; }
  .compact-inline {
    display: inline !important; } }

@media screen and (min-width: 415px) {
  .regular-hidden {
    display: none !important; }
  .regular-visible,
  .regular-block {
    display: block !important; }
  .regular-inline-block {
    display: inline-block !important; }
  .regular-inline {
    display: inline !important; } }

.clearfix::before, .clearfix::after {
  display: table;
  content: ' '; }

.clearfix::after {
  clear: both; }

.float-left {
  float: left; }

.float-right {
  float: right; }

h1, h2, h3, h4, h5, h6,
p, ul, ol, dl, dd, hr,
blockquote, pre, table, th, td,
form, fieldset, caption, legend {
  padding: 0;
  margin: 0; }

p, ul, ol, dl, hr,
blockquote, pre, table, form {
  margin-bottom: 1.5rem; }

ul ul,
ol ol,
ul ol,
ol ul {
  margin-top: 0;
  margin-bottom: 0; }

html {
  overflow-y: scroll; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #111;
  background-color: #fff; }

body {
  font-size: 1rem;
  line-height: 1.5; }

h1,
.h1 {
  margin-bottom: 3rem;
  font-size: 3rem; }

h2,
.h2 {
  font-size: 2rem; }

h3,
.h3 {
  font-size: 1.5rem; }

h4,
.h4 {
  font-size: 1.4rem; }

h5,
.h5 {
  font-size: 1.3rem; }

h6,
.h6 {
  font-size: 1.2rem; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-weight: 700; }

strong, em, small, code, hr {
  line-height: 1; }

strong {
  font-weight: 700; }

em {
  font-style: italic; }

a {
  color: #0074d9;
  text-decoration: none;
  word-wrap: break-word;
  text-decoration: underline; }

sup, sub {
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.4em; }

sub {
  bottom: -.25em; }

blockquote {
  padding-left: 1.5rem;
  color: #aaa;
  border-left: 3px solid #ddd; }
  blockquote > *:last-child {
    margin-bottom: 0; }

code {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  white-space: nowrap; }

pre code {
  white-space: pre-wrap; }

small {
  font-size: 0.9rem;
  color: #111; }

.text-small {
  font-size: 0.9rem; }

.text-micro {
  font-size: 0.8rem; }

.text-lead {
  font-size: 1.2rem; }

.text-mono {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.text-light {
  font-weight: 100; }

.text-normal {
  font-weight: 400; }

.text-bold {
  font-weight: 700; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

ul > li,
ol > li {
  margin-left: 1.5rem; }

dl > dt {
  font-weight: 700; }

dd + dt {
  margin-top: 0.75rem; }

.list-divided,
.list-inline,
.list-menu,
.list-reset {
  padding-left: 0;
  list-style: none; }
  .list-divided > li, .list-inline > li, .list-menu > li,
  .list-reset > li {
    margin-left: 0; }

.list-divided,
.list-inline {
  margin-bottom: 0;
  margin-left: -0.375rem;
  letter-spacing: -4px; }
  .list-divided > li,
  .list-inline > li {
    display: inline-block;
    padding-right: 0.375rem;
    padding-left: 0.375rem;
    letter-spacing: 0; }

.list-divided > li {
  padding-right: 0.75rem;
  padding-left: 0.75rem; }
  .list-divided > li + li {
    border-left: 1px solid #ddd; }


.list-menu {
  margin-top: -0.375rem; }
  
  .list-menu > li > a {
    display: block;
    padding: 0.375rem 0.75rem;
    text-decoration: none;
    border-radius: 4px; }
    
    .list-menu > li > a:hover {
      color: #fff;
      background: #0074d9; }

hr {
  height: 1px;
  color: #ddd;
  background-color: #ddd;
  border: 0 none; }

img {
  vertical-align: middle; }

.img-rwd,
.img-responsive {
  max-width: 100%;
  height: auto; }

.img-rounded {
  border-radius: 8px; }

.img-circle {
  border-radius: 50%; }

table {
  width: 100%;
  border-collapse: collapse; }

thead {
  text-align: left; }

td, th {
  padding: 0.375rem; }

.table-bordered > tr > th,
.table-bordered > tr > td,
.table-bordered > thead > tr > th,
.table-bordered > tbody > tr > td {
  border: 1px solid #ddd; }

.table-zebra > tr:nth-child(odd) > td,
.table-zebra > tbody > tr:nth-child(odd) > td {
  background-color: rgba(221, 221, 221, 0.5); }

.table-hover > tr:hover > td,
.table-hover > tbody > tr:hover > td {
  background-color: rgba(221, 221, 221, 0.5); }

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

label,
textarea,
input[type="file"] {
  display: block; }

input {
  cursor: pointer; }

input,
input[type="text"],
input[type="email"],
input[type="password"],
input[type="search"],
input[type="url"],
textarea {
  padding: 0.375rem;
  border: 1px solid #ddd; }

input[type="search"] {
  border-radius: 12px; }

input[type="radio"],
input[type="checkbox"] {
  position: relative;
  bottom: 1px;
  margin-right: 0.75rem;
  vertical-align: middle; }

input[disabled],
input[readonly] {
  background-color: #eaeaea; }
  input[disabled]:hover,
  input[readonly]:hover {
    cursor: not-allowed; }

.form-inline {
  margin-bottom: 0; }
  .form-inline label {
    display: inline-block; }
  .form-inline > * {
    margin-right: 0.375rem; }

.form-stacked label {
  display: table;
  margin-bottom: 0.5rem; }

.form-stacked label + input,
.form-stacked label + select,
.form-stacked label + textarea,
.form-stacked label:not([for]) {
  margin-bottom: 1.5rem; }

.form-stacked button {
  display: table; }

.form-horizontal .form-item {
  margin-bottom: 1.5rem; }
  .form-horizontal .form-item label {
    display: inline-block;
    width: 25%;
    padding: 0.375rem 0.75rem;
    margin: 0;
    text-align: right; }

.form-horizontal .form-group {
  padding-left: 0.375rem;
  margin-left: 25%; }
  .form-horizontal .form-group label {
    margin-bottom: 1.5rem; }

.form-horizontal button {
  display: inline-block; }

input[type="button"],
input[type="submit"],
button,
.btn {
  display: inline-block;
  padding: 0.375rem 0.75rem;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  text-decoration: none;
  white-space: nowrap;
  cursor: pointer;
  background-color: #111;
  border: 0;
  border-bottom-color: black;
  border-bottom-style: solid;
  border-radius: 4px;
  -moz-appearance: none;
  -webkit-appearance: none;
  vertical-align: 1px;
  border-bottom-width: 2px; }
  input[type="button"]:hover,
  input[type="submit"]:hover,
  button:hover,
  .btn:hover {
    background-color: #1e1e1e; }

button[disabled],
.btn-disabled {
  color: #9d9d9d;
  cursor: not-allowed;
  background-color: #ddd;
  border-bottom-color: #aaaaaa; }
  button[disabled]:hover,
  .btn-disabled:hover {
    background-color: #ddd; }

.btn-outline {
  color: #111;
  vertical-align: 0;
  background-color: transparent;
  border: 1px solid #111; }
  .btn-outline:hover {
    background-color: transparent; }

.btn-flat {
  border-bottom-width: 0; }

.btn-shadow {
  border-bottom-width: 2px; }

.btn-block {
  display: block;
  padding-right: 0;
  padding-left: 0;
  text-align: center; }

.btn-brand {
  color: #fff;
  background-color: #0074d9;
  border-bottom-color: #00305a; }
  .btn-brand:hover {
    background-color: #0082f3; }
  .btn-brand.btn-outline {
    color: #0074d9;
    background-color: transparent;
    border-color: #0074d9; }

.btn-positive {
  color: #fff;
  background-color: #2ecc40;
  border-bottom-color: #17641f; }
  .btn-positive:hover {
    background-color: #40d451; }
  .btn-positive.btn-outline {
    color: #2ecc40;
    background-color: transparent;
    border-color: #2ecc40; }

.btn-negative {
  color: #fff;
  background-color: #ff4136;
  border-bottom-color: #b60a00; }
  .btn-negative:hover {
    background-color: #ff5950; }
  .btn-negative.btn-outline {
    color: #ff4136;
    background-color: transparent;
    border-color: #ff4136; }


.box {
  padding: 0.75rem; }
  
  .box > *:last-child {
    margin-bottom: 0; }

.box-informative {
  color: #00305a;
  background: #5ab2ff; }

.box-positive {
  color: #17641f;
  background: #93e79c; }

.box-cautionary {
  color: #806e00;
  background: #ffee80; }

.box-negative {
  color: #b60a00;
  background: #ffbab6; }

.media {
  display: table; }
  .media > *:not(.media-body) {
    margin-right: 1.5rem; }
  .media > .media-body {
    display: table-cell;
    vertical-align: top; }
    .media > .media-body > *:last-child {
      margin-bottom: 0; }

.media-top > .media-body {
  vertical-align: top; }

.media-middle > .media-body {
  vertical-align: middle; }

.media-bottom > .media-body {
  vertical-align: bottom; }

[class~="media-1/4"] > *:not(.media-body) {
  margin-right: 0.375rem; }

[class~="media-1/3"] > *:not(.media-body) {
  margin-right: 0.5rem; }

[class~="media-1/2"] > *:not(.media-body) {
  margin-right: 0.75rem; }

[class~="media-2/1"] > *:not(.media-body) {
  margin-right: 3rem; }

[class~="media-3/1"] > *:not(.media-body) {
  margin-right: 4.5rem; }

[class~="media-4/1"] > *:not(.media-body) {
  margin-right: 6rem; }

.media-flat > *:not(.media-body) {
  margin-right: 0; }

.media-reverse {
  direction: rtl; }
  .media-reverse > *:not(.media-body) {
    margin-right: 0;
    margin-left: 1.5rem; }
  .media-reverse[class~="media-1/4"] > *:not(.media-body) {
    margin-left: 0.375rem; }
  .media-reverse[class~="media-1/3"] > *:not(.media-body) {
    margin-left: 0.5rem; }
  .media-reverse[class~="media-1/2"] > *:not(.media-body) {
    margin-left: 0.75rem; }
  .media-reverse[class~="media-2/1"] > *:not(.media-body) {
    margin-left: 3rem; }
  .media-reverse[class~="media-3/1"] > *:not(.media-body) {
    margin-left: 4.5rem; }
  .media-reverse[class~="media-4/1"] > *:not(.media-body) {
    margin-left: 6rem; }
  .media-reverse.media-flat > *:not(.media-body) {
    margin-left: 0; }

.sticky-footer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }
  .sticky-footer > *:first-child {
    flex: 1; }

body {
  font-family: 'Lato', sans-serif;
  color: #505050; }

h2,
h4 {
  font-weight: 600; }

h2 {
  font-size: 2.5rem; }

a {
  color: #e25454; }

input[type="email"],
input[type="text"] {
  padding: .375em 1em; }

.link-brand {
  color: #e25454;
  text-decoration: none; }
  .link-brand:hover {
    color: #db2828; }

.link-light {
  color: #ffffff;
  text-decoration: none; }
  .link-light:hover {
    color: #f8d7d7; }

.color-brand-muted {
  color: #f8d7d7; }

.btn-brand {
  background-color: #e25454;
  border: 0;
  color: #ffffff;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  padding: .7rem 2.5rem; }
  .btn-brand:hover {
    background: #db2828; }

.btn-ghost {
  background-color: transparent;
  border: 1px solid #e25454;
  color: #e25454;
  border-radius: 50px;
  transition: all 0.2s ease-in-out;
  text-transform: uppercase;
  padding: .5rem 2.5rem; }
  .btn-ghost:hover {
    background: #e25454;
    color: #ffffff; }

.navbar-logo {
  width: 150px; }

@media screen and (min-width: 1600px) {
  .navbar {
    width: 1400px;
    margin: 0 auto; } }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .navbar {
    text-align: center; }
    .navbar .btn-ghost {
      display: block;
      float: none;
      margin-top: 1.5rem; } }

.landing-hero {
  background-image: url("/assets/images/tricity-panorama.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  height: 85vh; }

.landing-community {
  background-image: url("/assets/images/bg-community.png");
  height: 265px; }

.landing-bg-rubies {
  background-image: url("/assets/images/rubies.svg");
  background-repeat: no-repeat;
  background-position-x: right;
  height: 180px; }

.landing-link {
  font-size: 1.1rem; }

.landing-map-canvas img {
  width: 100%;
  height: 270px; }

.landing-schedule tr {
  vertical-align: baseline; }

.landing-schedule td.nowrap {
  white-space: nowrap; }

.landing-schedule-icon {
  font-size: 1.5rem;
  color: #e25454;
  padding-right: 15px; }

@media only screen and (max-width: 768px) {
  .landing-schedule-icon {
    padding-right: 0; }
  .landing-schedule td {
    width: 100px; } }

@media only screen and (min-width: 760px) and (max-width: 768px), only screen and (min-width: 2400px) {
  .landing-lead {
    padding-top: 10rem; } }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .landing-hero {
    height: 300px; }
  .landing-lead {
    font-size: 1.2rem; }
  .landing-bg-rubies {
    height: 200px; } }

.footer {
  color: #ffffff;
  background: #e25454;
  background-image: url("/assets/images/sparkles.svg");
  background-repeat: no-repeat;
  background-size: 130px;
  background-position-y: center; }

.footer-icon {
  height: 45px;
  margin-top: 1.5rem;
  margin-right: 0.75rem; }

.footer-form-input {
  display: block;
  width: 80%;
  border: 1px solid #ffffff;
  border-radius: 50px; }
  .footer-form-input:active, .footer-form-input:focus {
    outline: none; }

.footer-form-btn {
  background: transparent;
  border: 1px solid #ffffff;
  border-radius: 50px;
  color: #ffffff;
  font-size: 0.9rem;
  margin-top: 1rem;
  text-transform: uppercase;
  width: 80%; }
  .footer-form-btn:hover, .footer-form-btn:active {
    background: #e25454;
    outline: none; }

@media only screen and (max-width: 768px) {
  .footer {
    text-align: center; }
    .footer .footer-col-title {
      padding-top: 1rem; }
    .footer .footer-form-input {
      margin: 0 auto; }
    .footer .grid-item {
      width: 100%;
      max-width: 100%;
      flex-basis: 100%; } }

@media screen and (min-width: 320px) and (max-width: 414px) {
  .footer {
    background-image: none; } }

.video img {
  width: 460px; }

@font-face {
  font-family: 'fontello';
  src: url(fontello.b909e134.eot);
  src: url(fontello.b909e134.eot#iefix) format('embedded-opentype'),
       url(fontello.b9b95e0a.woff2) format('woff2'),
       url(fontello.bcea652f.woff) format('woff'),
       url(fontello.0030bf38.ttf) format('truetype'),
       url(fontello.a80bbfa0.svg#fontello) format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1em;
  margin-left: .2em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clock:before { content: '\e800'; } /* '' */
.icon-file:before { content: '\e801'; } /* '' */
.icon-place:before { content: '\e802'; } /* '' */
.icon-right-open-big:before { content: '\e803'; } /* '' */
.icon-left-open-big:before { content: '\e804'; } /* '' */
.icon-down-open-big:before { content: '\e805'; } /* '' */
.icon-up-open-big:before { content: '\e806'; } /* '' */
.icon-calendar:before { content: '\e807'; } /* '' */

