.cover {
  background: url('images/hero_image.svg') no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: relative;
}

.cover-backdrop {
  background: rgba(0, 0, 0, .5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.cover-title {
  color: $color-light;
  text-align: center;
  padding: $content-padding;
}

.cover-logo-signet {
  margin: 0 auto;
  background: url('images/logo_signet.svg') no-repeat;
  height: 100px;
  width: 100px;
}
