.icon {
  height: $icon-size-big;
  width: $icon-size-big;
  margin: auto;

  &.icon-circle {
    background-color: $color-light;
    background-position: center;
    border-radius: 50%;
    box-shadow: $box-shadow-dark;
  }

  &--chat {
    background: url('images/icon_chat.svg') no-repeat;
    background-size: $icon-bg-size;
  }

  &--party {
    background: url('images/icon_party.svg') no-repeat;
    background-size: $icon-bg-size;
  }

  &--door {
    background: url('images/icon_door.svg') no-repeat;
    background-size: $icon-bg-size;
  }
}
