<!DOCTYPE html>
<html>
  {% include head.html %}
  <head>
    <title>TRUG - Trójmieska Grupa Użytkowników Ruby</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <div class="mdl-layout-title header__logo"></div>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="">Strona główna</a><a class="mdl-navigation__link" href="">Archiwum</a>
          </nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="cover">
          <div class="cover-backdrop"></div>
          <div class="cover-title">
            <h1>Trójmiejska Grupa Uzytkowników Ruby</h1>
            <div class="cover-logo-signet"></div>
            <h1 class="margin-none">TRUG</h1>
          </div>

        </div>
        <div class="mdl-grid mdl-cell--12-col padding-large-top padding-large-bottom">
          <div class="mdl-grid mdl-cell--4-col">
            <div class="icon icon-circle icon--chat"></div>
            <h3 class="mdl-cell--12-col u-text--center padding-large-top">
              DZIELENIE SIE WIEDZA
            </h3>
            <h5 class="u-text--center padding">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at orci nec dui suscipit egestas.
            </h5>
          </div>
          <div class="mdl-grid mdl-cell--4-col">
            <div class="icon icon-circle icon--door"></div>
            <h3 class="mdl-cell--12-col u-text--center padding-large-top">
              OTWARTOSC
            </h3>
            <h5 class="u-text--center padding">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at orci nec dui suscipit egestas.
            </h5>
          </div>
          <div class="mdl-grid mdl-cell--4-col">
            <div class="icon icon-circle icon--party"></div>
            <h3 class="mdl-cell--12-col u-text--center padding-large-top">
              DOBRA ZABAWA
            </h3>
            <h5 class="u-text--center padding">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus at orci nec dui suscipit egestas.
            </h5>
          </div>
        </div>

        <div class="mdl-grid mdl-cell--12-col">
          <div class="mdl-grid mdl-cell--6-col">
            <div class="mdl-card mdl-shadow--2dp width-full">
              <div class="mdl-card__title u-text--center text-uppercase">
                <h3 class="margin-none">Najblizsze spotkanie</h3>
              </div>
              <div class="mdl-grid mdl-cell--12-col">
                <div class="mdl-grid mdl-cell--6-col flex-column">
                  <p>Data</p>
                  <p>Godzina</p>
                  <p>Miejsce</p>
                  <p>Data</p>
                </div>
                <div class="mdl-grid mdl-cell--6-col flex-column">
                  <p>2016-03-23 (sroda)</p>
                  <p>18:00</p>
                  <p>Sopot, Aleja Niepodleglosci 807/5</p>
                  <div>Validations in Ruby - </div>
                  <p>Krzysztof Wawer</p>
                  <div>Validations in Ruby - </div>
                  <p>Stanislam Tuszynski</p>
                </div>
              </div>
            </div>
          </div>

          <div class="mdl-grid mdl-cell--6-col block">
            <h3 class="text-uppercase">
              Poprzednie spotkania
            </h3>
            <div class="container-history padding-bottom">
              <a href="">TRUG#46 (2016-02-17)</a>
                <p>Panel dyskusyjny</p>
              <a href="">TRUG#46 (2016-02-17)</a>
                <p> Interactors and Organizers, Action Cable</p>
              <a href="">TRUG#46 (2016-02-17)</a>
                <p>Interactors and Organizers, Action Cable</p>
            </div>
            <a href="" class="text-uppercase">Przejdz do archiwum ></a>
          </div>

        {{ content }}

      </main>
      <footer class="mdl-mini-footer">
        <div class="mdl-mini-footer__left-section">
          <div class="mdl-logo">
            &copy; 2015 TRUG
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>

